useDynLib(DNABarcodes)
export(barcode.set.distances,analyse.barcodes,create.dnabarcodes,create.dnabarcodes.ashlock,demultiplex,create.pool,distance,create.dnabarcodes.clique,create.dnabarcodes.sampling,create.dnabarcodes.conway)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, median)
import(Matrix)
import(BH)
